* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans KR', 'Sans-serif' !important;
}

:root {
  --black: #222327;
  --green: #29fd53;
  --white: #ffffff;
  --gray: #c4c4c4;
  --lightGray: #efefef;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.container {
  padding: 20px;
  border: 1px solid var(--gray);
  border-radius: 5px;
}
